body {
    background-color: #4a4948;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    width: 75px;
    height: 40px;
    resize: none;

}



#champ-pb { 
    height: 200px;
    max-height: 300px;
    max-width: 230px;
}

#champ-mail {
    width: 230px;
    height: 21px;
    resize: none;
}

